body {
    background:  url("../images/option-2.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    display: flex;
    flex-direction: column;
    flex-grow: 0;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
  
h1 {
    margin: 0 auto 40px;
    color: #fff;
    font: 40px Helvetica;
    text-transform: uppercase;
    letter-spacing: 3px;
}

form div {
    position: relative;
    display: block;
}

form div input:not(#submit) {
    font: 18px Helvetica, Arial, sans-serif;
    box-sizing: border-box;
    display: block;
    border: none;
    padding: 20px;
    width: 300px;
    margin-bottom: 20px;
    font-size: 18px;
    outline: none;
    transition: all 0.2s ease-in-out;
}

form div input::placeholder {
        transition: all 0.2s ease-in-out;
        color: #999;
        font: 18px Helvetica, Arial, sans-serif;
}
    
form div input:focus, form div input.populated {
        padding-top: 28px;
        padding-bottom: 12px;
}

form div input.populated::placeholder {
            color: transparent;
}
    
form div input.populated + span {
            opacity: 1;
            top: 10px;
}

form div label {
    color: #35dc9b;
    font: 13px Helvetica, Arial, sans-serif;
    position: absolute;
    top: 0px;
    left: 20px;
    opacity: 0;
    transition: all 0.2s ease-in-out;
}

form button[type="submit"] {
    transition: all 0.2s ease-in-out;
    font: 18px Helvetica, Arial, sans-serif;
    border: none;
    background: #3F51B5;
    color: #fff;
    padding: 16px 40px;
}

form button:hover {
      background: darkblue;
}

.error-block {
    display: none;
    position: relative;
    border-radius:4px;
    width:16%;
    background-color:#3F51B5;
    font-size:12px;
    padding:5px;
    color: #fff;
    margin-top: -2%;
    margin-bottom: 10px;
    text-align: center;
}